#notice = notice

p
  strong Spot:
  = @school.spot_id

p
  strong Sports:
  = @school.sports

p
  strong Name:
  = @school.name

p
  strong Link:
  = @school.link

p
  strong Affiliation:
  = @school.affiliation

=' link_to 'Edit', edit_school_path(@school)
| |
= link_to 'Back', schools_path


#map-canvas

#school-images
  - @photos.each do |img|
    = image_tag img.image_url, size: "400x300", class: "img-rounded"


