/*
 *= require_tree .
 *= require_self
 */

/*@import "bootstrap"
@import compass


body
  background: #333333
  font-family: times, serif


.container 
  padding: 0px
  position: relative
  

#logo
  font-weight: bold
	
body
  margin: 0
  padding: 0
	
.alert-notice
  position: absolute
  top: 10%
  width: 100%
  font-weight: bold
  text-align: center
  background: #ccaaee

#navi-wrap
  position: absolute
  top: 0px
  left: 0px
  z-index: 100
  padding: 3px


.debug_dump
  position: relative




