/*
 *= require_tree .
 *= require_self
 */

/*@import "bootstrap"
//@import compass

$bg_color: #333333
$bg_transparent: rgba(51,51,51,0.5)
$a_color: #DDDDDD
$a_hover_color: #EEEEEE
$font_color: #ffffff
$map_info_font_color: black

* 
  box-sizing: border-box


html
  height: 100%
  width: 100%
  
body
  background: $bg_color
  //background: #383f47
  font-family: times, serif
  color: $font_color
  height: 100%
  width: 100%
  margin: 0
  padding: 0


a:link
  color: $a_color
  text-decoration: none
  font-weight: bold
  
a:visited
  color: $a_color
  
a:hover
  color: $a_hover_color

#container 
  padding: 0px
  position: relative
  height: 100%
  width: 100%
  background: inherit

  
  
#canvas
  padding: 0px
  position: relative
  height: 100%
  width: 100%
  background: inherit


.alert
  position: absolute
  top: 10px
  left: 100px
  background: $bg_transparent
  z-index: 100
  border-radius: 5px
  padding: 5px 10px
  border: none
  text-align: center
  font: 12px arial
  color: #DDDDDD
  white-space: nowrap
  border-radius: 6px
  /* IE hacks */
  zoom: 1
  *display: inline
  

#navi-wrap
  position: absolute
  top: 0px
  left: 0px
  padding: 4px
  padding-left: 10px
  font-size: 110%

ul.navbar
  padding-left: 0
  display: inline
  li
    display: inline

.debug_dump
  position: relative
  

.map-info-window
  color: $map_info_font_color

#country-map-canvas 
  height: 100%
  margin: 0
  padding: 0

#spot-map-canvas 
  height: 100%
  margin: 0
  padding: 0
  position: absolute
  z-index: 4
  width: 100%
  //border-radius: 5px

#edit-spot-map-canvas 
  height: 100%
  margin: 0
  padding: 0
  position: absolute
  z-index: 4
  width: 100%
  
#new-spot-map-canvas 
  height: 100%
  margin: 0
  padding: 0
  position: absolute
  z-index: 4
  width: 100%
  

#rama-canvas
  z-index: 5
  width: 100%
  position: absolute
  background: inherit
  //border-radius: 5px
  

// right menu

#right-menu
  width: 200px
  background-color: rgba(51,51,51,0.5)
  position: absolute
  right: 0
  z-index: 10
  border-radius: 0 0 0 5px
  transition: 0.7s
  border-style:none
  outline-style:none


.menu-title
  position: absolute
  display: inline
  width: 200px
  right: 0
  top: 0
  font-size: 27px
  padding-left: 10px
  z-index: 10
  background-color: rgba(51,51,51,0.5)
  transition: border-radius 0s


.menu-title.closed
  border-radius: 0 0 0 5px
  transition: border-radius 0.25s 0.5s

#menu-toggle-button
  position: relative
  float: right
  top: 3px
  right: 3px

// buttons

#map-toggle-button
  position: absolute
  top: 10px
  left: 10px
  z-index: 10
  


