/*
 *= require_tree .
 *= require_self
 */

/*@import "bootstrap"
@import compass

/*.container
  position: relative
  margin: 0
  padding: 0

#logo
  font-weight: bold
	
body
  margin: 0
  padding: 0
	
.alert-notice
  position: absolute
  top: 10%
  width: 100%
  font-weight: bold
  text-align: center
  background: #ccaaee

.navi-wrap
  position: absolute
  top: 0px
  left: 0px
  z-index: 100



.left_menu
  position: absolute
  bottom: 150px
  z-index: 100
  margin: 5px
  margin-bottom: 10px
  padding: 10px
  
.rama_wrap
  width: 100%
  float: right
  position: relative

.debug_dump
  position: relative
  
.h-gradient
  +background-image(linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0.0)))
  padding-right: 100px
