.button {
  padding: 3px;
  border: none;
  text-align: center;
  font: 18px times;
  color: #DDDDDD;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgba(51,51,51,0.5);
  border-radius: 6px;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  &:hover, &:focus, 
  &:active, .active {
    color: #FFFFFF;
    background-color: rgba(71,71,71,0.5);
  }
}  
/*
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
  color: #FFFFFF;
  background-color: rgba(71,71,71,0.5);
}
*/

.button-no-bg {
  padding: 0;
  font-size: 32px;
  border: none;
  text-align: center;
  color: #DDDDDD;
  white-space: nowrap;
  cursor: pointer;
  margin: 5px 5px;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  &:hover, &:focus, 
  &:active, .active {
    color: #FFFFFF;
  }
} 
/*
.button-no-bg::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button-no-bg:hover,
.button-no-bg:focus,
.button-no-bg:active,
.button-no-bg.active {
  color: #FFFFFF;
}*/
  


/* ------------ Animated Buttons ----------- 
============================================
------------------------------------------*/

.navicon-button {
  display: inline-block;
  padding: 0px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 5px 5px;
  user-select: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  
}

.navicon-button .navicon:before, .navicon-button .navicon:after {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.navicon-button:hover {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}


.navicon-button:hover .navicon, .navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  background-color: rgba(255,255,255,1);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.navicon {
  position: relative;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  top: 13px;
  background: #E7E6DD;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.8);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navicon:before, .navicon:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  left: 0;
  background: #E7E6DD;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.8);
  -webkit-transition: 0.5s 0.25s;
  -moz-transition: 0.5s 0.25s;
  -o-transition: 0.5s 0.25s;
  transition: 0.5s 0.25s;
}
.navicon:before {
  top: 9px;
}
.navicon:after {
  top: -9px;
}

.menu-open:not(.steps) .navicon:before,
.menu-open:not(.steps) .navicon:after {
  top: 0 !important;
}

.menu-open .navicon:before,
.menu-open .navicon:after {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* × */
.menu-open.x .navicon {
  background: transparent;
}

.menu-open.x .navicon:before {
  -moz-transform: rotate(-45deg); /* Firefox */
  -ms-transform: rotate(-45deg); /* IE */
  -webkit-transform: rotate(-45deg); /* Safari, Chrome, iOS */
  -o-transform: rotate(-45deg); /* Opera */
  transform: rotate(-45deg);
}

.menu-open.x .navicon:after {
  -moz-transform: rotate(45deg); /* Firefox */
  -ms-transform: rotate(45deg); /* IE */
  -webkit-transform: rotate(45deg); /* Safari, Chrome, iOS */
  -o-transform: rotate(45deg); /* Opera */
  transform: rotate(45deg);
}
