/*@import "bootstrap" */
//@import compass

$bg_color: #333333;
$bg_transparent: rgba(51, 51, 51, 0.5);
$a_color: #dddddd;
$a_hover_color: white;
$font_color: white;
$map_info_font_color: black;

* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color:transparent;
}

body {
  background: $bg_color;
  font-family: candara;
  color: $font_color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

// Forms and alerts
////////////////

.alert {
  position: absolute;
  top: 10px;
  left: 100px;
  background: $bg_transparent;
  z-index: 100;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  text-align: center;
  color: #dddddd;
  white-space: nowrap;
  border-radius: 6px;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.field_with_errors {
  color: #FF0000;
}

a:link {
  color: $a_color;
  text-decoration: none;
  border-bottom: 1px dotted $a_color;
  display: inline;
  //font-weight: bold
}

a:visited {
  color: $a_color;
}

a:hover {
  color: $a_hover_color;
  border-bottom: 1px solid $a_color;
}

a:active {
  padding-top: 2px;
}

#container {
  padding: 0px;
  position: relative;
  height: 100%;
  width: 100%;
  background: inherit;
}

////////////////////////////////
// canvases

#canvas {
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
}

#country-map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#spot-map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 4;
  width: 100%;
}

#edit-spot-map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 4;
  width: 100%;
}

#new-spot-map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 4;
  width: 100%;
}

#rama-canvas {
  z-index: 5;
  width: 100%;
  position: absolute;
  background: inherit;
}

ul {
  padding: 0;
  color: #dddddd;
  
  &.info-partial {
  	list-style: none;
  	padding: 0 0 0 5px;
  	font-size: 110%;
	}
	
	&.navbar {
    display: inline;
  }
  
  li {
    padding: 0 0 4px 0;
  }

}

.debug_dump {
  position: relative;
}

.map-info-window {
  color: $map_info_font_color;
}

//nav bar

#nav-bar {
  position: relative;
  top: 0;
  margin-left: auto;
  margin-right: 0;
  min-height: 49px;
  overflow: hidden;
}

.nav-bar {
  width: 100%;
  font-size: 140%;
  padding: 5px 0px 0px 0px;
  cursor: pointer;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.5);
  transition: 0.7s;
}

.nav-bar.nav-closed {
  width: 210px;
  transition: 0.7s;
}

.nav-bar.nav-closed.info-closed {
  border-radius: 0 0 0 5px;
}

#nav-text {
  position: absolute;
  top: 0px;
  font-family: candara;
  padding-top: 0px;
  padding-left: 5px;
  display: block;
  font-weight: bold;
  color: $a_color;
}

#nav-text.nav-closed {
  display: none;
}

// info bar

#info-bar {
  clear: right;
  position: relative;
  width: 210px;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 10;
  margin-left: auto;
  margin-right: 0;
  top: 0;
  border-radius: 0 0 0 5px;
  transition: 0.7s;
}

// buttons
