#spot-container {
  padding: 0;
  margin: 0;
}

.chart-div {
  width: 100%;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style:none {}
  outline-style:none {}
}


.country-name {
  //font-weight: 100
  font-size: 14px;
}

.info-title {
  font-weight: bold;
  font-size: 120%;
}
