#logo
	font-weight: bold

body
	margin: 0
	padding: 0

.alert-notice 
	position: absolute
	top: 10%
	width: 100%
	font-weight: bold
	text-align: center
	background: #ccaaee

.navi-wrap
	position: absolute
	top: 0
	left: 0
	z-index: 100
	width: 100%
	background: #ffffff
	opacity: 0.6


ul.navbar
	display: inline
	li
		display: inline
		padding: 3px

#map-canvas 
	height: 400px
	width: 100% 
	margin: 0
	padding: 0