@import compass

.spot_info
	padding: 0
	margin: 0


.spot_name
	font-size: 20pt
	padding: 3px
	position: absolute
	z-index: 100
	cursor: pointer
	right: 0px
	
#left-menu
	font-size: 20pt
	padding: 3px
	position: absolute
	z-index: 100
	cursor: pointer
	top: 30px
	
ul.navbar
	display: inline
	li
		display: inline
		padding: 3px

#map-canvas 
	height: 400px
	width: 100% 
	margin: 0
	padding: 0
	
.rama-wrap
	width: 62%
	float: right
	position: relative
	transition: width 0.5s

.rama-wrap-menu
	width: 100%
	float: right
	position: relative
	transition: width 0.5s
